[submodule "libigl"]
	path = ext/libigl
	url = git@gitlab.inria.fr:integer-grid-sketch-vectorization/igsv-libigl.git
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
